* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
}

.contenedor-select-tickets {
    display: flex;
    flex-direction: column; /* Cambia a columna */
    align-items: center;
    justify-content: flex-start; /* Alinea al inicio */
    min-height: 100vh;
}

.contenedor-tickets {
    height: 630px;
    width: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181725;
    border-radius: 25px;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.09);
}

.progress-line-container {
    width: 100%;
    margin-bottom: 20px; /* Agrega margen para separación */
}

.icon-ticket-1, .icon-chair-1, .icon-popcorn-1, .icon-cash-1 {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.icon-ticket-1 {
    color: #ee0e0e;
}
/* Contenedor del botón */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Botón siguiente */
  .btn-Siguiente {
    margin-top: 0; /* Ajustar el margen superior si es necesario */
  }
  


.contenedor-seleccionar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenedor-fecha {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.contenedor-sillas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonComprar {
    
    display: flex;
    width: 142px;
    height: 45px;
    background-color: #1C64F2;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s;
}

.buttonComprar:hover {
    background-color: #fdfdfd;
    color: #000;
}
