/* mr-5,
flex,
items-start,
text-white,
p-5
rounded-md,
ml */



  














.buttons-and-format {
  display: flex;
  align-items: center;

}

/* .movie-format {

  padding: 5px 10px;

} */

.movie-button {
  padding: 10px 20px;
}


.buttonComprar {
  margin: 35px 0px 0px 0;


}
.trailer{
  margin: 35px 0px 0px 0;
  }

