.movie-info {
  display: flex;
}

/* mr-5,
flex,
items-start,
text-white,
p-5
rounded-md,
ml */



.trailer,
.movie-poster {
  width: 600px;
  /* Ajusta el ancho del póster */
  height: 900px;
  margin-right: 90px; /* Asegúrate de que no haya un espacio entre '100' y 'px' */
  margin-left: 11px; /* Empuja el póster hacia la derecha */
  border-radius: 20px; /* Bordes redondeados para la imagen */
}
  






.trailer-container {
  margin-top: 100px;
  /* Ajusta según sea necesario para el espacio que desees */
}



p {


  max-width: 1000px; /* Limita el ancho del párrafo */


}
.info-section {
  white-space: nowrap;
}


.buttons-and-format {
  display: flex;
  align-items: center;

}

.movie-format {
  display: inline-block;
  background-color: #e50914;
  /* Fondo rojo para el formato */
  color: white;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  /* Bordes redondeados */
}

.movie-button {
  display: inline-block;
  background-color: #e50914;
  /* Fondo rojo para el botón */
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  /* Bordes redondeados */
  font-weight: bold;
  text-transform: uppercase;
}


.buttonComprar {
  margin: 35px 0px 0px 0;


}
.trailer{
  margin: 35px 0px 0px 0;
  }

