/* Sidebar.css */
.sidebar-container .Sidebar {
  position: fixed;
  top: 0;
  width: 100px;
  height: 100%;
  transition: width 1s ease-in-out;
  z-index: 199999;

}

.slidebar-container .icon {
  align-items: flex-end;
}

.sidebar-container.open .Sidebar {
  left: 0;
  /* Muestra la barra lateral cuando está abierta */
  width: 250px;
}


/* Estilos para los iconos */
.icon {
  justify-content: flex-end;
}

.icon svg{
  position:fixed;
  left: 32px;
}
/* Estilos para los nombres de los íconos */
.icon-label {
  transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out 0s;
  /* Agrega transición para opacidad */
  opacity: 1;
  /* Inicialmente establece la opacidad en 0 */
  visibility: hidden;
  /* Inicialmente oculta los nombres */
  font-size: 20px;
  color: transparent;
  /* Color de los nombres */
}



.sidebar-container.open .icon-label {
  visibility: visible;
  /* Muestra los nombres cuando la barra lateral está abierta */
  opacity: 1;
  /* Establece la opacidad en 1 al finalizar la transición */
  transition-delay: 0.5s;
  color: #ffffff; 
  /* Retrasa la transición del label */
}


.icon:hover svg {
  fill: black;
}



.icon:hover .icon-label {
  color: black;
}