* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px; /* Ancho fijo para todas las tarjetas */
    height: 450px; /* Altura fija para todas las tarjetas */
    border-radius: 15px;
    background-color: #e0d9df;
    padding: 15px;
    flex-wrap: wrap;
  }

  .contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 200px; /* Altura fija para el contenedor de la imagen */
    align-self: flex-start;
  }

  .contenedor-imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen de manera proporcional dentro del contenedor */
    display: block;
  }

  .contenedor-informacion-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /* Permite que el contenedor ocupe el espacio restante */
  }

.contenedor-informacion-imagen h2 {
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0;
}

.contenedor-informacion-imagen p {
    font-size: 14px;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.contenedor-informacion-imagen h3 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.card-hover {
    position: relative;
    transition: all 0.3s ease-in-out;
}

 .card-hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease-in-out;
 }

.card-hover:hover::before {
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@keyframes bubble {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.card-hover.clicked::before {
    animation: bubble 0.5s forwards;
}