* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
}

.contenedor-select-comida {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea al inicio */
    min-height: 100vh;
    flex-direction: column
}






.contenedor-comida {
    width: 1400px;
    height: 700px;
    min-height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    background-color: #181725;
    border-radius: 25px;
    box-shadow: 0 3px 13px 1px rgb(0, 0, 0, 9%);
}

.buttons-food {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.buttons-food Button {
    margin-left: 30px;
}

.contenedor-seleccionar-combo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 20px;
    /* Añade esto */
    margin-bottom: 50px;
}

.splide__pagination {
    position: absolute;
    bottom: -25px;
    width: 100%;
    text-align: center;
}

.contenedor-splide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}