
.hamburger {
  color: white;
  font-size: 25px;
  padding: 30px;
}


.sidebar-container.open .Sidebar {
  left: 0;
  width: 250px;
}

.icon {
  justify-content: flex-start;
  position: relative;
  transition: color 0.3s ease-in-out;
  color: white;
  pointer-events: none;
}

.icon svg {
  position: fixed;
  left: 40px;
  font-size: 30px;
}

.icon-label {
  margin-left: 40px;
  opacity: 0;
  font-size: 20px;
  color: transparent;
  transition: opacity 0.1s ease-in-out, color 0.3s ease-in-out;
  pointer-events: none;
}

.sidebar-container.open .icon-label {
  opacity: 1;
  color: #ffffff;
}

.sidebar-container.close .icon-label {
  opacity: 0;
  color: transparent;
}


.sidebar-container.open .icon:hover .icon-label {
  color: black;
  opacity: 1;
}

.sidebar-container.open {
  font-family: 'Inter', sans-serif;
  font-style: medium;
}

.sidebar-container.open .icon,
.sidebar-container.open .icon-label {
  pointer-events: auto;
}

