/* Estilos para el carrusel principal */
.main-swiper .swiper-slide {
  transition: transform 0.3s ease;
}

.main-swiper .swiper-slide:hover {
  transform: scale(1.05);
}

.main-slide-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para las miniaturas */
.thumbnail-swiper .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.thumbnail-swiper .swiper-slide.active {
  opacity: 1;
}

.thumbnail-swiper .swiper-slide:hover {
  opacity: 1;
}

.thumbnail-image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones de navegación */
.swiper-button-prev,
.swiper-button-next {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para los indicadores de diapositivas */
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}