.carousel {
  margin-left: 100px;
}

.movie-item {
  position: relative;
}

.movie-texto {
  position: absolute;
  bottom: 150px; /* Cambiado de 20px a 40px */
  left: 20px;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-item:hover .movie-texto,
.movie-texto:hover {
  opacity: 1;
}

.main-slide-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 100%;
  height: auto;
}
.image-container {
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  
}

.movie-item:hover .main-slide-image,
.movie-texto:hover + .main-slide-image {
  opacity: 0.5;
}

/* Estilos para las miniaturas */
.thumbnail-swiper .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.thumbnail-swiper .swiper-slide.active {
  opacity: 1;
}

.thumbnail-swiper .swiper-slide:hover {
  opacity: 1;
}

.thumbnail-image {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los indicadores de diapositivas */
.swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}