* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
}

.card-product-container {
    margin: 5vh auto;
}

.card-product {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 5vh auto;
}

.card-product img {
    margin-top: 40px;
    width: 250px;
    height: 250px;
}