/* Estilos para la componente Carousel */
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;

}
 



/* Estilos para las miniaturas de películas */
.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0px 0px 0;

}

.thumbnail {
  cursor: pointer;
  margin: 0 25px 0px 0;
  box-shadow: 0px 0px px rgba(0, 0, 0, 0.5); /* Sombra para las miniaturas */
  
}

.thumbnail img {
  width: 100px; /* Ancho deseado */
  height: 150px; /* Alto deseado */
}

.thumbnail.active {
  border: 5px solid #000000;
}




.main-slide-image {
  width: 1500px; /* Ancho deseado */
  height: 800px; /* Alto deseado */
  overflow: hidden; /* Para recortar la imagen */
  position: relative;

  
}

.main-slide-image img {
  object-fit: cover; /* Para recortar y cubrir el contenedor */
  width: 100%;
  height: 100%;
  filter:blur(100%);
}


.thumbnails-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap; /* Evita que los thumbnails se dividan en múltiples líneas */
}



.prev-button,
.next-button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.prev-button,
.next-button {
  position: absolute; /* Posición absoluta para que los botones estén posicionados sobre el carrusel */
  top: 50%; /* Posiciona los botones verticalmente en el centro del carrusel */
  transform: translateY(-50%); /* Ajusta la posición vertical de los botones */
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.prev-button {
  left: 300px; /* Posiciona el botón de retroceso a la izquierda del carrusel */
bottom: -20px;
}

.next-button {
  right: 300px; /* Posiciona el botón de avance a la derecha del carrusel */
}


.image-container {
  position: relative;
}

.title-overlay {
  position: absolute;
  bottom: 270px; /* Ajusta este valor según sea necesario */
  left: 60px; /* Ajusta este valor según sea necesario */
  color: white;
  font-size: 60px; /* Ajusta este valor según sea necesario */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto */
  font-family:'Hammersmith One',;

}
.description-overlay {
  position: absolute;
  bottom: 40px; /* Ajusta este valor según sea necesario */
  left: 60px; /* Ajusta este valor según sea necesario */
  color: white;
  font-size: 25px; /* Ajusta este valor según sea necesario */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto */
  font-family:'Hammersmith One',;
}


.car{
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Establece la altura del contenedor para ocupar toda la altura de la ventana */
}